In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
headers = {'user-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebkit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage=requests.get('https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=51&ref_=adv_nxt', headers=headers).text

In [3]:
soup = BeautifulSoup(webpage, 'lxml')

In [ ]:
print(soup.prettify())

In [5]:
company = soup.find_all('div', class_='lister-item-content')
len(company)

50

In [12]:
Name = []
Year = []
Duretion_min = []
Genre = []
Ratings = []
Votes = []
Income = []
Director = []
Stars = []


for i in company:
  
  Name.append(i.find('a').text.strip())
  Year.append(i.find('span', class_='lister-item-year').text.strip()[1:5])
  Duretion_min.append(int(i.find('span', class_='runtime').text.strip()[0:3]))
  Genre.append(i.find('span', class_='genre').text.strip())
  Ratings.append(float(i.find('strong').text.strip()))
  Votes.append(i.find('p', class_='sort-num_votes-visible').text.split('\n')[2])
  if len(i.find('p', class_='sort-num_votes-visible').text.split('\n'))==6:
    Income.append(i.find('p', class_='sort-num_votes-visible').text.split('\n')[4])
  else:
    Income.append('Nan')
  Director.append(i.find_all('a')[12].text)
  stars = i.find_all('a')[13].text,i.find_all('a')[14].text,i.find_all('a')[15].text, i.find_all('a')[16].text
  Stars.append(stars)


Scraped_Data = {
    'Name':Name,
    'Year':Year,
    'Duretion_min':Duretion_min,
    'Genre':Genre,
    'Ratings':Ratings,
    'Votes':Votes,
    'Income':Income,
    'Director':Director,
    'Stars':Stars
}

In [13]:
df = pd.DataFrame(Scraped_Data)
df.shape

(50, 9)

In [14]:
df

,Name,Year,Duretion_min,Genre,Ratings,Votes,Income,Director,Stars
0,Jurassic Park,1993,127,"Action, Adventure, Sci-Fi",8.2,"938,099",$402.45M,Steven Spielberg,"(Sam Neill, Laura Dern, Jeff Goldblum, Richard..."
1,Ran,1985,162,"Action, Drama, War",8.2,"122,491",$4.14M,Akira Kurosawa,"(Tatsuya Nakadai, Akira Terao, Jinpachi Nezu, ..."
2,Yojimbo,1961,110,"Action, Drama, Thriller",8.2,"120,112",Nan,Akira Kurosawa,"(Toshirô Mifune, Eijirô Tôno, Tatsuya Nakadai,..."
3,The General,1926,67,"Action, Adventure, Comedy",8.2,"89,249",$1.03M,Clyde Bruckman,"(Buster Keaton, Buster Keaton, Marion Mack, Gl..."
4,Sherlock Jr.,1924,45,"Action, Comedy, Romance",8.2,"47,995",$0.98M,Buster Keaton,"(Buster Keaton, Kathryn McGuire, Joe Keaton, E..."
5,Mersal,2017,172,"Action, Thriller",8.1,"32,539",Nan,Atlee Kumar,"(Thalapathy Vijay, Nithya Menen, S.J. Suryah, ..."
6,Bajrangi Bhaijaan,2015,163,"Action, Adventure, Comedy",8.1,"84,186",$8.18M,Kabir Khan,"(Salman Khan, Harshaali Malhotra, Nawazuddin S..."
7,Baby,I) (,159,"Action, Crime, Thriller",8.1,"56,700",Nan,Neeraj Pandey,"(Akshay Kumar, Danny Denzongpa, Rana Daggubati..."
8,Haider,2014,160,"Action, Crime, Drama",8.1,"53,938",$0.90M,Vishal Bhardwaj,"(Shahid Kapoor, Tabu, Shraddha Kapoor, Kay Kay..."
9,Logan,2017,137,"Action, Drama, Sci-Fi",8.1,"719,728",$226.28M,James Mangold,"(Hugh Jackman, Patrick Stewart, Dafne Keen, Bo..."
10,Baahubali: The Beginning,2015,159,"Action, Drama",8.1,"113,276",$6.74M,S.S. Rajamouli,"(Prabhas, Rana Daggubati, Ramya Krishnan, Sath..."
11,Guardians of the Galaxy,2014,121,"Action, Adventure, Comedy",8.1,"1,130,306",$333.18M,James Gunn,"(Chris Pratt, Vin Diesel, Bradley Cooper, Zoe ..."
12,Rush,I) (,123,"Action, Biography, Drama",8.1,"465,137",$26.95M,James Hunt,"(Niki Lauda, Ron Howard, Daniel Brühl, Chris H..."
13,Ford v Ferrari,2019,152,"Action, Biography, Drama",8.1,"359,720",$117.62M,Carroll Shelby,"(Ken Miles, James Mangold, Matt Damon, Christi..."
14,Mad Max: Fury Road,2015,120,"Action, Adventure, Sci-Fi",8.1,"960,077",$154.06M,George Miller,"(Tom Hardy, Charlize Theron, Nicholas Hoult, Z..."
15,A Wednesday,2008,104,"Action, Crime, Drama",8.1,"77,698",Nan,Neeraj Pandey,"(Anupam Kher, Naseeruddin Shah, Virendra Saxen..."
16,Zack Snyder's Justice League,2021,242,"Action, Adventure, Fantasy",8.1,"365,858",Nan,Zack Snyder,"(Henry Cavill, Ben Affleck, Gal Gadot, Amy Adams)"
17,Nefes: Vatan Sagolsun,2009,128,"Action, Drama, Thriller",8.1,"33,331",Nan,Levent Semerci,"(Erdem Can, Mete Horozoglu, Ilker Kizmaz, Bari..."
18,Dune,2021,155,"Action, Adventure, Drama",8.1,"517,230",Nan,Denis Villeneuve,"(Timothée Chalamet, Rebecca Ferguson, Zendaya,..."
19,How to Train Your Dragon,2010,98,"Animation, Action, Adventure",8.1,"713,777",$217.58M,Dean DeBlois,"(Chris Sanders, Jay Baruchel, Gerard Butler, C..."
20,The Avengers,2012,143,"Action, Adventure, Sci-Fi",8.1,"1,344,831",$623.28M,Joss Whedon,"(Robert Downey Jr., Chris Evans, Scarlett Joha..."
21,Pirates of the Caribbean: The Curse of the Bla...,2003,143,"Action, Adventure, Fantasy",8.1,"1,068,561",$305.41M,Gore Verbinski,"(Johnny Depp, Geoffrey Rush, Orlando Bloom, Ke..."
22,The Incredibles,2004,115,"Animation, Action, Adventure",8.1,"701,277",$261.44M,Brad Bird,"(Craig T. Nelson, Samuel L. Jackson, Holly Hun..."
23,Hera Pheri,2000,156,"Action, Comedy, Crime",8.1,"64,618",Nan,Priyadarshan,"(Akshay Kumar, Suniel Shetty, Paresh Rawal, Tabu)"
24,Sarfarosh,1999,174,"Action, Drama, Thriller",8.1,"25,353",Nan,John Mathew Matthan,"(Aamir Khan, Naseeruddin Shah, Sonali Bendre, ..."
25,Neon Genesis Evangelion: The End of Evangelion,1997,87,"Animation, Action, Drama",8.1,"51,247",Nan,Neon Genesis Evangelion,"(Hideaki Anno, Kazuya Tsurumaki, Megumi Ogata,..."
26,The Iron Giant,1999,86,"Animation, Action, Adventure",8.1,"186,055",$23.16M,Brad Bird,"(Eli Marienthal, Harry Connick Jr., Jennifer A..."
27,Andaz Apna Apna,1994,160,"Action, Comedy, Romance",8.1,"52,651",Nan,Rajkumar Santoshi,"(Aamir Khan, Salman Khan, Raveena Tandon, Kari..."
28,The Terminator,1984,107,"Action, Sci-Fi",8.1,"835,861",$38.40M,James Cameron,"(Arnold Schwarzenegger, Linda Hamilton, Michae..."
29,Blade Runner,1982,117,"Action, Drama, Sci-Fi",8.1,"743,466",$32.87M,Ridley Scott,"(Harrison Ford, Rutger Hauer, Sean Young, Edwa..."
30,Sholay,1975,162,"Action, Adventure, Comedy",8.1,"54,760",Nan,Ramesh Sippy,"(Sanjeev Kumar, Dharmendra, Amitabh Bachchan, ..."
31,The Hidden Fortress,1958,126,"Action, Adventure, Drama",8.1,"38,221",Nan,Akira Kurosawa,"(Toshirô Mifune, Misa Uehara, Minoru Chiaki, K..."
32,White Heat,1949,114,"Action, Crime, Drama",8.1,"32,228",Nan,Raoul Walsh,"(James Cagney, Virginia Mayo, Edmond O'Brien, ..."
33,Pushpa: The Rise - Part 1,2021,179,"Action, Adventure, Crime",8.0,"51,622",Nan,Sukumar,"(Allu Arjun, Fahadh Faasil, Rashmika Mandanna,..."
34,X-Men: Days of Future Past,2014,132,"Action, Adventure, Sci-Fi",8.0,"693,760",$233.92M,Bryan Singer,"(Patrick Stewart, Ian McKellen, Hugh Jackman, ..."
35,Blade Runner 2049,2017,164,"Action, Drama, Mystery",8.0,"531,763",$92.05M,Denis Villeneuve,"(Harrison Ford, Ryan Gosling, Ana de Armas, Da..."
36,The Revenant,2015,156,"Action, Adventure, Drama",8.0,"771,268",$183.64M,Alejandro G. Iñárritu,"(Leonardo DiCaprio, Tom Hardy, Will Poulter, D..."
37,Elite Squad 2: The Enemy Within,2010,115,"Action, Crime, Drama",8.0,"82,211",$0.10M,José Padilha,"(Wagner Moura, Irandhir Santos, André Ramiro, ..."
38,Deadpool,2016,108,"Action, Adventure, Comedy",8.0,"986,323",$363.07M,Tim Miller,"(Ryan Reynolds, Morena Baccarin, T.J. Miller, ..."
39,Ip Man,2008,106,"Action, Biography, Drama",8.0,"220,502",Nan,Wilson Yip,"(Donnie Yen, Simon Yam, Siu-Wong Fan, Ka-Tung ..."
40,Master,2021,179,"Action, Thriller",8.0,"68,549",Nan,Lokesh Kanagaraj,"(Thalapathy Vijay, Vijay Sethupathi, Malavika ..."
41,Elite Squad,2007,115,"Action, Crime, Drama",8.0,"102,429",$0.01M,José Padilha,"(Wagner Moura, André Ramiro, Caio Junqueira, M..."
42,Star Trek,2009,127,"Action, Adventure, Sci-Fi",8.0,"596,338",$257.73M,J.J. Abrams,"(Chris Pine, Zachary Quinto, Simon Pegg, Leona..."
43,The Bourne Ultimatum,2007,115,"Action, Mystery, Thriller",8.0,"625,258",$227.47M,Paul Greengrass,"(Matt Damon, Edgar Ramírez, Joan Allen, Julia ..."
44,Tae Guk Gi: The Brotherhood of War,2004,140,"Action, Drama, War",8.0,"39,370",$1.11M,Je-kyu Kang,"(Jang Dong-Gun, Won Bin, Eun-ju Lee, Hyeong-ji..."
45,Casino Royale,2006,144,"Action, Adventure, Thriller",8.0,"640,481",$167.45M,Martin Campbell,"(Daniel Craig, Eva Green, Judi Dench, Jeffrey ..."
46,Kill Bill: Vol. 2,2004,137,"Action, Crime, Thriller",8.0,"732,189",$66.21M,Quentin Tarantino,"(Uma Thurman, David Carradine, Michael Madsen,..."
47,Infernal Affairs,2002,101,"Action, Crime, Drama",8.0,"123,014",$0.17M,Andrew Lau,"(Alan Mak, Andy Lau, Tony Chiu-Wai Leung, Anth..."
48,Akira,1988,124,"Animation, Action, Drama",8.0,"179,621",$0.55M,Katsuhiro Ôtomo,"(Mitsuo Iwata, Nozomu Sasaki, Mami Koyama, Tes..."
49,Sanjuro,1962,96,"Action, Drama, Thriller",8.0,"37,487",Nan,Akira Kurosawa,"(Toshirô Mifune, Tatsuya Nakadai, Keiju Kobaya..."

In [16]:
final = pd.DataFrame()

for j in range(1,1605,50):
  
  url = 'https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start={}&ref_=adv_nxt'.format(j)

  headers = {'user-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebkit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
  webpage=requests.get(url, headers=headers).text

  soup = BeautifulSoup(webpage, 'lxml')

  company = soup.find_all('div', class_='lister-item-content')


  ##########################################

  Name = []
  Year = []
  Duretion_min = []
  Genre = []
  Ratings = []
  Votes = []
  Income = []
  Director = []


  for i in company:
    
    Name.append(i.find('a').text.strip())
    Year.append(i.find('span', class_='lister-item-year').text.strip()[1:5])
    Duretion_min.append(int(i.find('span', class_='runtime').text.strip()[0:3]))
    Genre.append(i.find('span', class_='genre').text.strip())
    Ratings.append(float(i.find('strong').text.strip()))
    Votes.append(i.find('p', class_='sort-num_votes-visible').text.split('\n')[2])
    if len(i.find('p', class_='sort-num_votes-visible').text.split('\n'))==6:
      Income.append(i.find('p', class_='sort-num_votes-visible').text.split('\n')[4])
    else:
      Income.append('Nan')
    Director.append(i.find_all('a')[12].text)


  Scraped_Data = {
      'Name':Name,
      'Year':Year,
      'Duretion_min':Duretion_min,
      'Genre':Genre,
      'Ratings':Ratings,
      'Votes':Votes,
      'Income':Income,
      'Director':Director,
  }

  Data = pd.DataFrame(Scraped_Data)

  final = final.append(Data, ignore_index=True)

In [22]:
#final.to_csv('Movies_Dtails.csv')

In [23]:
final

,Name,Year,Duretion_min,Genre,Ratings,Votes,Income,Director
0,The Dark Knight,2008,152,"Action, Crime, Drama",9.1,"2,524,013",$534.86M,Christopher Nolan
1,The Mountain II,2016,135,"Action, Drama, War",9.0,"107,744",Nan,Alper Caglar
2,The Lord of the Rings: The Return of the King,2003,201,"Action, Adventure, Drama",9.0,"1,764,004",$377.85M,Peter Jackson
3,Shershaah,2021,135,"Action, Biography, Drama",8.9,"115,258",Nan,Vishnuvardhan
4,The Lord of the Rings: The Fellowship of the Ring,2001,178,"Action, Adventure, Drama",8.9,"1,785,826",$315.54M,Peter Jackson
...,...,...,...,...,...,...,...,...
1600,Gunday,2014,152,"Action, Drama, Musical",2.2,"58,881",Nan,Ali Abbas Zafar
1601,House of the Dead,2003,90,"Action, Adventure, Horror",2.1,"37,102",$10.25M,Uwe Boll
1602,Race 3,2018,160,"Action, Crime, Thriller",2.0,"45,748",$1.69M,Remo D'Souza
1603,Radhe,2021,135,"Action, Crime, Thriller",1.9,"176,030",Nan,Prabhu Deva
1604,Sadak 2,2020,133,"Action, Drama",1.1,"94,424",Nan,Mahesh Bhatt